/* panel */

.panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: transparent;
    -panel-corner-border-width: 0px;
    -panel-corner-border-color: transparent;
}

.panel-logo-icon {
    icon-size: 1px;
    padding-right: 0;
}


/* notification area */

.message-media-control {
    padding-left: 14px;
    padding-right: 14px;
}


/* workspace switcher */

.ws-switcher-box {
    height: 30px;
}
