/* better readability */

.dim-label, .titlebar.subtitle {
    opacity: 0.8;
}

progressbar.horizontal trough,
progressbar.horizontal progress {
    min-height: 8px;
}
progressbar.vertical trough,
progressbar.vertical progress {
    min-width: 8px;
}
levelbar trough {
    min-height: 7px;
}


/* custom changes */

filechooser #pathbarbox {
    background: none;
    border-bottom: 1px solid @unfocused_borders;
}

menubar popover.menu contents, menubar popover.menu modelbutton {
    border-radius: 0;
}

filechooser treeview {
	min-height: 1.9em;
}


/* dialogs */

messagedialog .dialog-action-area button {
    padding-top: 8px;
    padding-bottom: 8px;
}
messagedialog .titlebar .title {
    margin-top: 1px;
    opacity: 0.7;
}
messagedialog .titlebar {
    min-height: 0;
}
messagedialog .dialog-vbox {
    margin-top: 11px;
}
